.container {
    margin-top: 50px;
  }

ul{
  margin-right: 50px;
}

a{
  font-size: larger;
}

.btn{
  margin-bottom: 2px;
}

.link2{
  margin: auto;
}

.title{
  font-size: 25px;
  font-weight: bold;
  
}